body {
  display: flex;
  justify-content: center;
}

.block {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
}
.red {
  background: red;
  color: red;
}
.yellow {
  background: yellow;
  color: yellow;
}
.green {
  background: green;
  color: green;
  font-weight: 300;
}